// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


//Adele's colors 
$main: #44DEE3;
$dark-main: #28AFB0;
$main-b: #83E9EC;
$light-main:#BCF5F5;
$main-c: #20CFD5;
$light-a: #F4FDFF;
$grey-a: #C5C8C9;
$dark-grey: #C2C2BD;
$super-dark:#2B2B24;
