
.progress-photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.create{
    border-radius: 20px;
    border: 0.5px solid $main;
    color: $main;
    width: calc(100% - 100px);
    padding: 20px 30px; 
    margin: 0 auto 50px;
    box-sizing: border-box;   
}
.photos-upl{
    justify-content: center;
    align-items: center;
}

.progress-photos {
    /* Add any additional styling for the container if necessary */
  }
  
  .photo-container {
    position: relative;
    width: 300px; /* Match the image width, or adjust as needed */
    margin-bottom: 24px; /* Optional margin for spacing */
  }
  
  .progress-photo {
    width: 100%;
    height: auto;
    display: block; /* Ensures the image takes up the full width of .photo-container */
  }
  
  .photo-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    color: white;
    padding: 8px;
    text-align: center; /* Center the text and button if desired */
  }
  
  .photo-date {
    margin: 0; /* Remove default paragraph margin */
  }
  