
<div class="container">
  <h1 class="text-center">Progress photos</h1>
  <p class="text-center mt-3 mb-5">Track your progress here, take regular snaps and mark each photo with your current weight.</p>
  <!-- Button to Open the Modal -->
  <div class="upload-btn">
    <button type="button" class="upl-new-btn text-decoration-none booking-button-width" data-bs-toggle="modal" data-bs-target="#addPhotosModal">
      Add More Photos
    </button>
  </div>
  <%= render 'upload' %>
    <div class="progress-photos">
      <% current_user.progresses.each do |progress| %>
        <% if progress.photos.attached? %>
          <% progress.photos.each do |photo| %>
            <div class="photo-container">
              <%= image_tag(photo, class: 'progress-photo') %>
              <div class="photo-overlay">
                <p class="photo-date"><%= progress.date.to_date.strftime('%B %d, %Y') %></p>
                <%= button_to 'Delete', user_progress_path(current_user, progress),
                    method: :delete,
                    class: 'del-btn',
                    data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>