
<div class="container contact-page wrapper">
    <h1>Contact Us</h1>
    <p>Email: contact@example.com</p>
    <p>Phone: (123) 456-7890</p>
    <p>Address: 123 Example Street, City, Country</p>
    <p>Instagram: @aigerim_adele</p>
    <p>Linkedin: AigerimKarataeva</p>
    
     <%= link_to "Back", :back, class: "back-btn"%>
</div>


<div class="footer pt-5">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <div class="credit-cards" style="text-align: center; width: 100%">
    <img height="40" src="https://shoplineimg.com/assets/footer/card_visa.png"/>
    <img height="40" src="https://shoplineimg.com/assets/footer/card_master.png"/>
    <img height="40" src="https://shoplineimg.com/assets/footer/card_paypal.png"/>
    <img height="40" src="https://shoplineimg.com/assets/footer/card_unionpay.png"/>
    <img height="40" src="https://shoplineimg.com/assets/footer/card_amex.png"/>
  </div>
    made by Adele 2023 <i class="fas fa-heart"></i>
  </div>
</div>
