<div class="container tips">
    <h1>Nutritional tips</h2>
    <h3 class="mb-3">What do you need to know about nutrition?</h3>
    <p class="mt-3">There are carbs (carbohydrates), fats and proteins.</p>
    <h3>Carbs</h3>
    <p>Carbs are the main source of energy for your body. They are found in foods such as bread, pasta, rice, potatoes, fruits and vegetables.</p>
    <p> – Cereal
        – Whole Grain
        – Bread
        – Pasta
        – Rice
        – Beans (pinto, black, etc.)
        – Oatmeal
        – Cream of Wheat
        – Cream of Rice
        – Potatoes
        – Sweet Potatoes, Yams
        – Fiber Bars
        – Sea Salt Chips
        – Mashed Potatoes
        – Bagels
        – Tortillas
    </p>
    <h3>Fats</h3>
    <p>Fats are ..... </p>
    <p>

        - Olive Oil
        – Sunflower Oil
        – Safflower Oil
        – Flaxseed Oil
        – Walnuts
        – Pistachios
        – Nuts
        – Almonds
        – Peanuts
        – Avocados
        – Coconut Oil
        – Peanut Butter
        – Almond Butter
        – Trail Mix
    </p>
    <h3>Proteins</h3>
    <p>Proteins are .... </p>
    <p>
        – Chicken
        – Turkey
        – Lean Beef
        – Lean Pork
        – Fish
        – Eggs
        – Egg Whites
        – Protein Powder
        – Cottage Cheese
        – Greek Yogurt
        – Milk
        – Cheese
        – Tofu
        – Tempeh
        – Seitan
        – Lentils
        – Beans
        – Peas
        – Nuts
        – Seeds
        – Nut Butters
        – Protein Bars
        – Protein Shakes
        – Greek Yogurt
        – Cottage Cheese
        – Swiss Cheese
        – Eggs
        – Whey Protein
        – Steak
        – Ground Beef (93% lean)
        – Pork Chips (boneless)
        – Chicken Breast (boneless and skinless)
        – Turkey Breast
        – Yellowfin Tuna
        – Halibut
        – Octopus
        – Sockeye Salmon
        – Tilapia
        – Anchovies
        – Corned Beef
        – Light Tuna
        – Sardines
        – Roast Beef
        – Canadian Bacon
        – Roasted Turkey Breast
        – Beef Jerky
        – Tofu
    </p>
<ul class="list-inline tabs-underlined">
    <li>
        <a href="#" class="tab-underlined active">Bookings</a>
    </li>
    <li>
        <a href="#" class="tab-underlined">Requests</a>
    </li>
    <li>
        <a href="#" class="tab-underlined">Conversations</a>
    </li>
</ul>
</div>